as<!DOCTYPE html>
<html> <!-- Rootüü Element-->

<head> <!--machine code-->
    <meta charset="UTF-8"><!--Supplying support to any character the user input on the page, or exist in the code-->
    <title>✨ Developed by Uche ✨</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>

<body>
<div class="pageContainer">
    <div class="item navBar">NavBar</div>
    <div class="item topBar">TopBar</div>
    <div class="item bodyPart">
        <!--Hero Text Section-->
        <h1>Body Part</h1>
    </div>
    <div class="item l-sPanel">Left Side Panel</div>
    <div class="item r-sPanel">Right Side Panel</div>
    <div class="item footer">Footer</div>
</div>
</body>
</html>

